/Material_Showcase_Scene.scene
/Girl_Scene.scene
/Monkey_Scene.scene
/Cornell_Box_Scene.scene
/Cornell_Box_Scene_2.scene
/Terrain_Scene.scene
/House_Scene_3.scene
/House_Scene.scene
/Sponza_Scene.scene
/Test_Scene.scene
/Car_Scene.scene
/Image_Scene.scene
/Zealot_Scene.scene
/Wine_Glass_Scene.scene
/House_2_Scene.scene
